   
<div class="card col-md-3">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="{{video}}"></iframe>
    </div>
                    <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}
            </p>

            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#details{{id}}">
                See Details
            </button>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#edit{{id}}">
                Edit Project
            </button>

        </div>
    </div>


{{!-- PROJECTS DETAILSMODAL --}}


<div class="modal fade bd-example-modal-lg" id="details{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PROJECT DETAILS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          {{!-- MODAL BODY --}}
        
    <h5 class="card-title">{{name}}</h5>

    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="{{video}}"></iframe>
    </div>

    <p class="card-text">{{description}}
            </p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



{{!-- EDIT MODAL --}}

<div class="modal fade bd-example-modal-lg" id="edit{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PROJECT EDIT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

 {{!-- MODAL BODY --}}
        
      <div class="modal-body">


            <form action="/updateproject/{{id}}" method="POST"  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name-input">Project Name</label>
                    <input name="name" type="text" placeholder="{{name}}" value="{{name}}" class="form-control" id="name-input">
                </div>
                <div class="form-group">
                    <label for="description-input">Description</label>
                    <input name="description" type="text" placeholder="{{description}}" value="{{description}}" class="form-control" id="description-input">
                </div>
                <input type="text" name="nameInput" placeholder="Video url: {{video}}" value="{{video}}"><br><br>
                <input type="file" name="videoInput"><br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-dark">Confirm changes</button>
            </div>
            </form>


      
    </div>
  </div>
</div>