  
<main class="container-fluid profile">
   
    <div class="row">

        <div class="col-md-3 mb-3">
            <div class="card profileinfo">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{usertorender.profileImg}}" alt="{{usertorender.username}}" class="rounded-circle">
                        <div class="mt-3">
                            <h4>{{usertorender.name}}</h4>                                              
                            <p class="text-secondary mb-1">{{usertorender.headline}}</p>    

                            {{#if userRegistered}}

                            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#editprofile">
                                Edit Profile
                            </button>

                            {{/if }}
                            
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        <div class="col-md-4">
            <div class="card ">
                <div class="card-body descriptioncard">
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{usertorender.username}}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{usertorender.name}}
                        </div>
                    </div>
                    
                    <hr>
                    <div class="row descriptioncardscroll">
                        <span >{{usertorender.description}}</span>
                    </div>
                </div>
            </div>
        </div>
   
{{!-- PROJECT LIST --}}
    <div class="col-md-5 listprojectscard" >
            <div class="card mb-3">
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">PROJECT LIST</h6>
                        </div>

                {{#if userRegistered}}
                <div class="col-sm-9 text-secondary">
                <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#createproject">
                    + Add new Project 
                </button>
                </div>
                {{/if}}
                     </div>

                    <hr>
   {{!-- LIST PROJECTS --}}     
        <div class="row listprojectscardscroll">
                        
                {{#if userRegistered}}
        
                    {{#each usertorender.projects }}
                        <div class="col-4">
                        {{!-- LINK TO OPEN MODAL & SEE DETAILS --}}
                       

                        <a type="button" class="" data-toggle="modal" data-target="#edit{{id}}">
                            <svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>

                        <a type="button" class="" data-toggle="modal" data-target="#deleteproject{{id}}">
                            <svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                        </a>

                        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#details{{id}}">
                            {{name}}
                        </a>
                        </div>
                        
                    {{/each}}

                {{else}}

                    {{#each usertorender.projects }}
                    <div class="col-3">
                            {{!-- LINK TO OPEN MODAL & SEE DETAILS --}}
                    <a type="button" class="btn btn-light" data-toggle="modal" data-target="#details{{id}}">
                        {{name}}
                    </a>

                    </div>
                    {{/each}}

                {{/if}}    
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    

<!-- PROJECTS CARDS -->

    <div class="row lineprojects justify-content-center">
            
      
    
        {{#if userRegistered}}
            {{#each usertorender.projects }}
            <div class="card col-md-3 projectcard">
  
                {{> projects}}

                <button type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#edit{{id}}">
                    Edit Project
                </button>
   
            </div>
            
            {{/each}}
        {{else}}
            {{#each usertorender.projects }}
            <div class="card col-md-3 projectcard">
                {{> projects}}
            </div>
            {{/each}}
        {{/if}}





    </div>

<!-- CARD LINKS PROFILE-->
    <div class="row cardlink">
        <div class="col-md-4">
            <div class="card mt-3">
                <ul class="list-group list-group-flush">

                <a href="{{usertorender.links.linkedin}}" target="_blank">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                class="feather feather-github mr-2 icon-inline">
                                <path
                                    d="m18.59 24c.103 0 4.762-.001 4.66-.001.414 0 .75-.336.75-.75-.35-7.857 1.842-16.148-6.338-16.148-1.573 0-2.826.537-3.729 1.247 0-1.461-1.579-.653-5.224-.87-.414 0-.75.336-.75.75.302 14.166-.674 15.771.75 15.771h4.66c1.353 0 .492-1.908.75-8.188 0-2.594.75-3.102 2.046-3.102 1.434 0 1.675.996 1.675 3.228.257 6.167-.598 8.063.75 8.063zm-2.425-12.791c-4.491 0-3.546 4.938-3.546 11.29h-3.16v-13.521h2.974v1.298c0 .72 1.097 1.074 1.479.35.492-.934 1.77-2.025 3.75-2.025 3.527 0 4.838 1.733 4.838 6.396v7.503h-3.16c0-7.144.756-11.291-3.175-11.291z" />
                                <path
                                    d="m1.122 7.479c-1.42 0-.448 1.585-.75 15.771 0 .414.336.75.75.75h4.665c1.42 0 .448-1.585.75-15.771 0-1.295-1.881-.531-5.415-.75zm3.915 15.021h-3.165v-13.521h3.165z" />
                                <path
                                    d="m3.452 0c-4.576 0-4.548 6.929 0 6.929 4.545 0 4.581-6.929 0-6.929zm0 5.429c-2.568 0-2.592-3.929 0-3.929 2.597 0 2.564 3.929 0 3.929z" />
                            </svg>
                            <span>Linkedin</span>
                        </h6>
                        <span class="text-secondary">{{usertorender.links.linkedin}}</span>
                    </li>
                </a>
                   <a href="{{usertorender.links.gitHub}}" target="_blank">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-github mr-2 icon-inline">
                                <path
                                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                </path>
                            </svg>
                            <span>Github</span>
                        </h6>
                        <span class="text-secondary">{{usertorender.links.gitHub}}</span>
                    </li>
                   </a> 
                  
            
                </ul>
            </div>
        </div>
    </div>



<!-- Modal EDIT PROFILE-->
<div class="modal fade" id="editprofile" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            <form action="/edituser" method="POST"  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name-input">Name</label>
                    <input name="name" type="text" placeholder="{{usertorender.username}}" value="{{usertorender.name}}" class="form-control" id="name-input">
                </div>
                <div class="form-group">
                    <label for="headline-input">Headline</label>
                    <input name="headline" type="text" placeholder="{{usertorender.headline}}" value="{{usertorender.headline}}" class="form-control" id="headline-input">
                </div>
                <div class="form-group">
                    <label for="description-input">Description</label>
                    <textarea name="description" class="form-control" rows="4">{{usertorender.description}}</textarea>
                </div>

                <label>Experience</label>  <p style="font-size: xx-small;">*Your actually experiences are: '{{usertorender.experience}}' </p>

                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="frontend" value="FrontEnd" class="custom-control-input" id="frontend">
                                <label class="custom-control-label" for="frontend">Frontend </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="backend" value="BackEnd" class="custom-control-input" id="backend">
                                <label class="custom-control-label" for="backend">Backend</label>
                            </div>
                        </div>
                        
                        <div class="col-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="fullstack" value="Fullstack" class="custom-control-input"  id="fullstack">
                                <label class="custom-control-label" for="fullstack">FullStack</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="node" value="Node" class="custom-control-input" id="node">
                                <label class="custom-control-label" for="node">Node</label>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="javascript" value="Javascript" class="custom-control-input"  id="javascript">
                                <label class="custom-control-label" for="javascript">Javascript</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="react" value="React" class="custom-control-input" id="react">
                                <label class="custom-control-label" for="react">React</label>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <div class="form-group">
                    <label for="gitHub-input">GitHub</label>
                    <input name="gitHub" type="text" placeholder="{{usertorender.links.gitHub}}" value="{{usertorender.links.gitHub}}" class="form-control" id="gitHub-input">
                </div>
                <div class="form-group">
                    <label for="linkedin-input">Linkedin</label>
                    <input name="linkedin" type="text" placeholder="{{usertorender.links.linkedin}}" value="{{usertorender.links.linkedin}}" class="form-control" id="linkedin-input">
                </div>
                <input type="text" name="nameInput" placeholder="{{usertorender.profileImg}}" value="{{usertorender.profileImg}}"><br><br>
                <input type="file" name="imageInput" value="{{usertorender.profileImg}}"><br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-dark">Confirm changes</button>
            </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal ADD PROJECT-->

<div class="modal fade bd-example-modal-lg" id="createproject" tabindex="-1" role="dialog" aria-labelledby="createproject" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PROJECT EDIT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

 {{!-- MODAL BODY --}}
        
      <div class="modal-body">


            <form action="/createproject" method="POST"  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name-input">Project Name</label>
                    <input name="name" type="text" class="form-control" id="name-input" required>
                </div>
                <div class="form-group">
                    <label for="description-input">Description</label>
                    <textarea name="description" maxlength="50" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="link-github">GitHub</label>
                    <input name="github" type="text" class="form-control" id="link-github" required>
                </div>
                <input type="text" name="fileUrl" placeholder="" value=""><br><br>
                <input type="file" name="videoInput" required><br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-dark">Confirm changes</button>
            </div>
            </form>


      
    </div>
  </div>
</div>



</main>